body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 61px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 5px 0 3px 0;
  padding: 5px;
}

input:focus {
  outline: none;
}

small {
  color: red;
}

button {
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #000;
}

th,
td {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 15px;
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-end {
  align-self: flex-end;
}

.column {
  flex-direction: column;
}

.phone-form {
  border: 1px solid #000;
  max-width: 250px;
  margin: auto;
  padding: 15px;
}

.phone-list {
  margin: 50px auto;
  text-align: center;
}

.modify-entry {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background-color: rgb(190, 217, 241);
  text-align: center;
  padding: 40px;
  z-index: 1;
}
.error-div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px black;
  padding: 35px;
  text-align: center;
  display: none;
}

.error-div h5 {
  margin-top: 10px;
}
